@import 'reset.css';
@import 'banner';
@import 'vars';

$left-margin: 3em;

body {
 margin: 0;
}

body {
  font-size: 16px;
  font-family: $sans;
  line-height: $default-line-height;

  color: $text-gray;
}
#content {
    background-color: white;
    margin: 2em auto 2em $left-margin;
    width: 40em;
    min-height: 500px;
}

h1, h2, h3 {
   color: $dk-purple;
   font-weight: bold;
   a:link, a:visited {
     color: $dk-purple;
   }
}


h1 {
   font-size: 200%;
}

h2 {
   font-size: 150%;
}

p, h1, h2, h3, ul {
    margin: 1em 0;
}

dd {
  margin-left: 2em;
}

a:link, a:visited {
  color: $purple;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: square;
  margin-left: 1.5em;
}

ol {
  list-style: decimal;
  margin-left: 1.5em;
}

pre {
  font-size: 90%;
}

span.credit {
  color: #808080;
  font-size: 80%;
}

hr {
  border-style: dotted none none none;
  border-top-width: thin;
  margin: 10px 15px;
}

div.draft-notice { 
	border: thin solid red; 
	font-family: sans-serif; 
	margin: 1em 10%; 
	padding: 0.5em;
  text-align: center;

  h1 {font-size: 120%; color: black;}
  p {color: red}
}

blockquote {
  /* margin-left: 3em; */
  border-left: 2px solid grey;
  padding-left: 1em;
  font-style: italic;
  color: $dk-purple;
}

.clear {
  clear: both;
}

.clickable {
  text-decoration: underline;
  cursor: pointer;
}

