// see lib/colorscheme.html for details of color scheme


$sans: arial, helvetica, clean, sans-serif;
$serif: georgia,"lucida bright","times new roman",serif;
$purple:  #823797;
$text-gray:  #333333;
$tw-green: #D5E14D;
$dk-purple: #511262;
$default-line-height: 1.2;
$text-line-height: 1.4;
$light-purple:  #C39CC8;
$dark-gray-background: #666666;
$light-gray-background: #EEEEEE;
