@import 'global';

$paper-font-size: 16px;

body {
  font-size: $paper-font-size;
  font-family: $serif;
}

div#banner {
  margin-left: $left-margin;
}


h1, h2, h3 {
  font-family: $sans;
}

hr.topSection {
  border-top: thick solid $dk-purple;
  margin: 3em 50% 0px 0px;
}

h2 {
  margin: 0 0 1em 0;
}

h3 {
  font-size: 120%;
}

div.photo {
  float: right;
  margin: 1em 0 1em 1em; 
  font-size: 80%;
  font-style: italic;
  font-family: $sans;

  p.credit {
    color: #808080;
    font-size: 80%;  
    text-align: right;
  }
} 

div.fullPhoto {
  @extend .photo;
  float: none;
  margin: 1em 0;
}



div#topImage {
  float: right;
  margin: 0 0 1em 20px;
  clear: both;
  width: 220px;
  font-size: 80%;
  font-style: italic;
  font-family: $sans;
  img {
    width: 220px;
  }
}


p.abstract {
  line-height: $text-line-height;
  font-style: italic;
}

div.frontMatter {
  padding: 1em 2em;
  border-style: solid none;
  border-width: thin 0;
  clear: both;
  overflow: hidden;
  border-color: $dk-purple;

  font-family: arial, helvetica, clean, sans-serif;

  padding: 1em 0;
  font-size: 90%;

  p, div.translations, div.tags {
    margin: 0.3em;
  }
  div.topBox {
    margin: 2em 0;
    font-size: 90%;
  }
}




  div.frontLeft {
    width: 40%;
    float:left;
  }

  div.frontLeft p {
  }

  div.frontRight {
    width: 55%;
    float:right;
    padding-right: 0;
  }


  div.author {
    margin: 1em 0 0 0.3em;
    img {
      max-width: 80px;
      float: left;
      margin: 0 1em 1em 0;
    }
    p {
      margin-left: 0;
      font-size: 90%;
    }
    p.name {
      font-weight: bold;
      font-size: 100%;
      margin: 1em 0;
     }
    a:link,  a:visited, a:hover {
      color:  $dk-purple;
    }
  }

  div.contents{
    /* puts contents to fixed right, useful when fiddling
    position: fixed;
    width: 15em;
    top: 20em;
    right: 3px;
    */    

    a:link,  a:visited, a:hover {
      color:  $dk-purple;
    }

    ul {
      margin: 0;
      -webkit-padding-start: 0;
    }

    ul ul {
      margin: 0 1.2em;
    }

    li {
      list-style-type: none;
    }

    /* to add bullet points to contents entries remove the `ul ul` margin
       rule, remove `list-style-type none` from li (will pick up square
       from global) and add `margin-left: 1.5em;` to li */

    h2 {
      font-size: 100%;
      color: $dk-purple;
      font-weight: bold;
      margin: 0.5em 0;
    }
  }

  div.paperBody {
    clear: both;
    line-height: $text-line-height;
  }

  div.paperBody p {
  /*
    font-family: georgia, serif;
    */
  }

  hr.bodySep {
    margin: 5em 10%;
    border-top: thin solid $dk-purple;
    clear: both;
  }

  pre {
    font-size: 90%;
  }

  div.figure {
     p.figureCaption {
      margin-left: 2em;
      font-style: italic;
      font-size: 90%;
    }
  }

  div.appendix {
    font-size: 80%;
    font-family: arial, helvetica, clean, sans-serif;
    line-height: $default-line-height;    
  }

  div.appendix hr.topSection {
    border: none;
  }


  div.sidebar {
    width: 20em;
    float: right;
    margin: 1em -15em 1em 2em;
    font-size: 80%;
    font-family: $sans;
    background-color: $light-gray_background;
    line-height: $default-line-height;
  }

  div.soundbyte {
    @extend .sidebar;
    font-size: $paper-font-size;
    font-style: italic;
    width: 20em;
  }

  div.sidebar p {
    margin: 1em;
  }

div.footnote-list {
  h3, span.num {
    color: $dk_purple;
    font-size: 100%;
    font-weight: bold;
  }  
}